@charset "UTF-8"; 

$primary: #0c141e;
$secondary: #d9cd84;

body
{
    padding:0px;
    margin: 0px;
    font-family:verdana, sans-serif;
    background-color:white;
    font-family: 'Roboto', sans-serif;
}

div
{
    padding: 10px;
}

header, footer
{
    background-color: $primary;
    color: white;
    padding: 15px;
    text-align: center;
}

.grille-cartes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.carte {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: lightgray;
    cursor: pointer;
}

.carte:hover {
    background-color: gray;
}

img{
    max-width: 100%;
}

#main {
    background-image: url('../images/Icon.jpg'); // Remplacez par le chemin de votre image
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 20px; // Ajout d'un espace intérieur pour le contenu
}